

<script type="text/template" id="plugin">

<style>

	.micronesia-plugin {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select:none;
	}

	/* Checkboxes */
	input[type=radio]{
	  position: absolute;
	  visibility: hidden;
	}

	.check-group {
		position: relative;
		display: block;
	    width: 38px;
	    height: 20px;
	    text-align: left;
	}
	
	.storm-buttons-container label {
	  position: relative;
	  display: block;
	  width: 163px;
	  padding-top: 1px;
	  padding-left: 30px;
	  color: #333333;
	  font-size: 16px;
	  cursor: pointer;
	  -webkit-transition: all 0.25s linear;
	  transition: all 0.25s linear;
	  z-index: 100;
	}

	.storm-buttons-container .radio-padding {
		margin-top: 10px;
	}

	.storm-buttons-container .check-group.annual {
		margin-top: 6px;
	}

	.storm-buttons-container .check-group.annual label {
		width: 140px;
	}

	.check-group:hover label {
		color: #306692;
	}

	.radio-select{
	  position: absolute;
	  display: block;
	  top: 2px;
	  left: 14px;
	  border: 2px solid #306692;
	  border-radius: 100%;
	  height: 12px;
	  width: 12px;
	  z-index: 5;
	  transition: border .25s linear;
	  -webkit-transition: border .25s linear;
	}

	.storm-buttons-container .annual .radio-select {
		top: -2px;
	}

	.radio-select::before {
	  display: block;
	  position: absolute;
	  left: 1px;
	  top: 1px;
	  content: '';
	  border-radius: 100%;
	  height: 6px;
	  width: 6px;
	  margin: auto;
	  transition: background 0.25s linear;
	  -webkit-transition: background 0.25s linear;
	}

	input[type=radio]:checked ~ .radio-select::before{
	  background:#306692;
	}

	input[type=radio]:checked ~ .check {
	  border: 1px solid #306692;
	}

	input[type=radio]:checked ~ label{
	  color: #306692;
	}

	/* End Checkboxes */

	.clearfix {
		overflow: auto;
  		zoom: 1;
	}

	.title {
	    margin: 6px 3px;
		font-weight: bold;
	    font-size: 22px;
	    text-align: center;
	}

	.main-message {
		margin: 4px;
		font-size: 16px;
	}

	.controls-container {
		position: relative;
		padding: 10px 8px;
		background-color: #f3f4f3;
		min-height: 90px;
		text-align: center;
	}

	.storm-buttons-container {
		float: left;
		width: 175px;
	}

	.region-select-container {
		display: inline-block;
	}

	.storm-buttons-container .control-title,
	.region-select-container .control-title {
    	
		margin-bottom: 6px;
    	font-weight: bold;
	}

	.info-tooltip {
		color: #226491;
		font-size: 16px;
		vertical-align: middle;
	}

	.stat .info-tooltip {
		padding-left: 10px;
		margin-top: -4px;
	}

	.styled-select {
		position: relative;
		display: inline-block;
		width: 125px;
		height: 36px;
		overflow: hidden;
		border: 2px solid #aaaaaa;
		border-radius: 4px;
		background-color: #fff;
		cursor: pointer;
		margin-right: 5px;
	}

	.styled-select::after {
		display: block;
		position: absolute;
		right: 5px;
    	top: 8px;
		content: '\f078';
		color: #999;
		font-family: FontAwesome;
		pointer-events: none;
	}

	.styled-select select {
		background: transparent;
		width: 125px;
		padding: 5px;
		font-size: 16px;
		border: 0;
		border-radius: 0;
		color: #333333;
		height: 32px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	.download-summary {
		display: inline-block;
	    margin-right: 6px;
	    color: #fff !important;
	    cursor: pointer;
	    border: 1px solid #226491;
	    border-radius: 4px;
	    padding: 4px;
	    background-color: #226491;
	    text-align: center;
	    box-shadow: 2px 2px 5px 1px rgba(34,100,145, 0.2);
	    transition: box-shadow 0.2s;
	    font-size: 16px;
	    min-height: 36px;
	    max-width: 115px;
    }

    .download-summary:active {
    	color: #fff;
		-webkit-transform: scale(0.9) translateY(4px);
		-moz-transform: scale(0.9) translateY(4px);
		-ms-transform: scale(0.9) translateY(4px);
		-o-transform: scale(0.9) translateY(4px);
		transform: scale(0.9) translateY(4px);
		background: darken(#226491, 5%);
    }

	.a:visited {
		color: #fff !important;
		outline: none;
	}

	.download-summary:hover {
		color: #fff;
		background: darken(#226491, 5%);
		-webkit-transition: all 0.05s ease;
		-moz-transition: all 0.05s ease;
		-ms-transition: all 0.05s ease;
		-o-transition: all 0.05s ease;
		transition: all 0.05s ease;
	}
    .stats-description {
    	padding: 8px;
		font-size: 16px;
		text-align: center;
    }

	.stats-container {
		width: 100%;
		display: table;
	}

	.stat {
		min-height: 50px;
		text-align: center;
	}

	.stat.active .description,
	.stat.active .number {
		color: #226491;
	}

	.stat .number {
		display: inline-block;
		cursor: pointer;
		padding-left: 8px;
		font-size: 45px;
	    font-weight: bold;
	    color: #d8d8d8;
	    transition: color 0.35s linear;
	}

	.stat .units {
		font-size: 28px;
	}

	.stat:hover .description,
	.stat:hover .number {
		color: #226491;
	}

	.stat .description {
		cursor: pointer;
	    display: inline-block;
	    padding-left: 10px;
		color: #d8d8d8;
	    font-size: 19px;
	    vertical-align: middle;
	    text-align: left;
	    transition: color 0.35s linear;
	}

	.ncp-tooltip {
		position: absolute;
		display: none;
		color: #333;
		border: 1px solid #7EABCD;
		padding: 5px;
		border-radius: 5px;
		font-size: 16px;
		width: 240px;
		background-color: #fff;
	}

	/* Chart SVG Styles */

	.chartContainer {
		background: #f3f4f3;
		text-align: center;
	}

	path {
		stroke: #333;
		stroke-width: 2px;
		fill: none;
	}

	.tick line {
		stroke: #333;
	}

	.xaxis-label,
	.yaxis-label {
		font-size: 16px;
	}
	.xaxis path,
	.yaxis path {
		fill: none;
		stroke: #ccc;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	.esriLegendService img {
		border: none;
	}

	.region-container{
		text-align: left;
	}


</style>

	<div class="micronesia-plugin">
	    <div class="title">Coral Reef Fisheries</div>
	    <div class="main-message">
	    	This app demonstrates the impact of human populations on fish stocks and supports fisheries management
by helping to identify areas that are most likely to benefit from improved management.
	    </div>
	    <div class="controls-container clearfix">

	    	<div class="region-select-container">
		    		<div class="region-container">
		    		<span class="control-title">Region:</span><br>
		    		<div class="styled-select">
			    		<select class="region-select">
			    			<optgroup label="Select Region">
			    			<% _.each(regions, function(val, key) { %>
			    				<option value="<%= key %>" <% if (key === "Global") { %> selected <% } %> data-text="<%= key %>" ><%= key %></option>
			    			<% }); %>
			    			</optgroup>
			    		</select>
			    	</div>
			    </div>
	    	</div>
	    	<a class="download-summary snapshot" href="plugins/coral_reef_fisheries/brief.pdf" target="_blank">Download Snapshot <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
			<a class="download-summary report" href="" target="_blank">Download Policy Brief <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>

	    </div>
	    <div class="stats-description">
	    These summary statistics represent the MEAN values for each parameter summarized by the selected region.</div>
	    <div class="stats-container">

	    	<div class="stat active" data-layer-idx="3" data-layer="Fishing_Pressure_M1">
	    		<span class="number"><span class="variable"><%= global.Fishing_Pressure_M1.mean %></span></span>
	    		<span class="description">Current Fishing Pressure Index
	    			<i data-tooltip="Estimated current fishing pressure on coral reef fisheries using the impact on size of parrotfish scaled from 0 (No fishing) to 1 (Highest fishing in region)" class="fa fa-info-circle info-tooltip"></i></span>
	    	</div>

	    	<div class="stat" data-layer-idx="4" data-layer="Standing_Stock_M2">
	    		<span class="number"><span class="variable"><%= global.Standing_Stock_M2.mean %></span> <span class="units">g/m<sup>2</sup></span></span>
	    		<span class="description"> Current Standing Stock
	    			<i data-tooltip="Predicted current biomass 19 key coral reef fishery species" class="fa fa-info-circle info-tooltip"></i></span>
	    		
	    	</div>

	    	<div class="stat" data-layer-idx="6" data-layer="Biomass_Ratio_M11">
	    		<span class="number"><span class="variable"><%= global.Biomass_Ratio_M11.mean %></span></span>
	    		<span class="description">Current to Potential Biomass Ratio
	    			<i data-tooltip="Ratio of current biomass of fish to potential biomass if there was no fishing. Lower values represent more fished reefs where current standing stock is a small porportion of what the reef could potentially support." class="fa fa-info-circle info-tooltip"></i></span>

	    	</div>

	    	<div class="stat" data-layer-idx="5" data-layer="Percent_Gain_M4">
	    		<span class="number"><span class="variable"><%= global.Percent_Gain_M4.mean %></span> <span class="units">%</span></span>
	    		<span class="description">Predicted Gain Standing Stock
	    			<i data-tooltip="The expected percent increase in fish stocks if fishing were reduced to 0 in each 1 HA cell. This could be through a marine reserve or some other fisheries management measure." class="fa fa-info-circle info-tooltip"></i></span>

	    	</div>

	    	<div class="stat" data-layer-idx="7" data-layer="Recovery_Years_M12">
	    		<span class="number"><span class="variable"><%= global.Recovery_Years_M12.mean %></span> <span class="units">Yrs</span></span>
	    		<span class="description">Predicted Recovery Time
	    			<i data-tooltip="Estimated time it would take for a cell to recover up to 90% of the predicted fish stock capacity of that cell if fishing stopped." class="fa fa-info-circle info-tooltip"></i></span>

	    	</div>

	    </div>

		<div class="ncp-tooltip"></div>
	    <div class="chartContainer">

	    </div>

	    <div class="ncp-tooltip"></div>
	</div>

</script>