

<script type="text/template" id="plugin">

<style>

	.micronesia-plugin {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select:none;
	}

	.micronesia-plugin .clearfix {
		overflow: auto;
  		zoom: 1;
	}

	.micronesia-plugin .title {
	    margin: 6px 3px;
		font-weight: bold;
	    font-size: 18px;
	    text-align: center;
	}

	.micronesia-plugin .main-message {
		margin: 4px;
		font-size: 13px;
		line-height: 17px;
		text-align: left;
		font-weight: bold;
	}

	.micronesia-plugin .controls-container {
		position: relative;
		padding: 10px 8px;
		min-height: 45px;
		text-align: center;
	}

	.micronesia-plugin .control-title {
		position: absolute;
    	left: 8px;
		font-size: 12px;
	}


	.micronesia-plugin .region-select-container {
		position: absolute;
	    left: 0;
	    top: 0;
	    background-color: #f3f4f3;
	}

	.region-select:focus {
		outline: none;
	}

	.micronesia-plugin .info-tooltip {
		color: #226491;
		font-size: 16px;
		vertical-align: middle;
	}

	.micronesia-plugin .stat .info-tooltip {
		padding-left: 3px;
		margin-top: -4px;
	}

	.micronesia-plugin .styled-select {
		position: absolute;
		left 0;
		top: 9px;
		width: 125px;
		height: 36px;
		overflow: hidden;
		cursor: pointer;
		margin-right: 5px;
	}

	.micronesia-plugin .styled-select::after {
		display: block;
		position: absolute;
		right: 5px;
    	top: 8px;
		content: '\f078';
		color: #999;
		font-family: FontAwesome;
		pointer-events: none;
	}

	.micronesia-plugin .styled-select select {
		background: transparent;
		width: 125px;
		font-size: 19px;
		font-weight: bold;
		border: none;
		color: #000;
		height: 32px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	.micronesia-plugin .download-summary,
	.micronesia-plugin .download-full {
		position: absolute;
	    top: 50%;
	    margin-top: -17.5px;
	    height: 35px;
	    line-height: 16px;
	    padding: 0;
	    color: #fff !important;
	    cursor: pointer;
	    border: 1px solid #226491;
	    border-radius: 4px;
	    background-color: #226491;
	    text-align: center;
	    box-shadow: 2px 2px 5px 1px rgba(34,100,145, 0.2);
	    transition: box-shadow 0.2s;
	    font-size: 14px;
	    width: 125px;
    }

    .micronesia-plugin .download-summary {
    	right: 8px;
    }

    .micronesia-plugin .download-full {
    	right: 140px;
    }

    .micronesia-plugin .download-summary:active,
    .micronesia-plugin .download-full:active {
    	color: #fff;
		-webkit-transform: scale(0.9) translateY(4px);
		-moz-transform: scale(0.9) translateY(4px);
		-ms-transform: scale(0.9) translateY(4px);
		-o-transform: scale(0.9) translateY(4px);
		transform: scale(0.9) translateY(4px);
    }

	.micronesia-plugin .download-summary:hover,
	.micronesia-plugin .download-full:hover {
		color: #fff;
		-webkit-transition: all 0.05s ease;
		-moz-transition: all 0.05s ease;
		-ms-transition: all 0.05s ease;
		-o-transition: all 0.05s ease;
		transition: all 0.05s ease;
	}
    
    .micronesia-plugin .stats-description {
    	padding: 20px 8px;
	    font-size: 14px;
	    text-align: left;
	    line-height: 17px;
    }

    .micronesia-plugin .chart-description {
    	padding: 15px 8px;
	    font-size: 14px;
	    text-align: left;
	    line-height: 17px;
    }

	.micronesia-plugin .stats-container {
		display: table;
		margin: auto;
	}

	.micronesia-plugin .stat {
		height: 35px;
		display: table-row;
	}

	.micronesia-plugin .stat .description,
	.micronesia-plugin .stat .number {
		display: table-cell;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
		text-align: left;
		transition: color 0.35s linear;
	}

	.micronesia-plugin .stat:last-child .description,
	.micronesia-plugin .stat:last-child .number {
		border: none;
	}

	.micronesia-plugin .stat .number {
		width: 160px;
		padding-left: 8px;
		font-size: 25px;
	    font-weight: bold;
	    color: #d8d8d8;
	}

	.micronesia-plugin .stat .units {
		font-size: 28px;
	}

	.micronesia-plugin .stat.active .description,
	.micronesia-plugin .stat.active .number,
	.micronesia-plugin .stat:hover .description,
	.micronesia-plugin .stat:hover .number {
		color: #226491;
	}

	.micronesia-plugin .stat .description {
	    padding-left: 10px;
		color: #d8d8d8;
	    font-size: 14px;
	    vertical-align: middle;
	    transition: color 0.35s linear;
	}

	.plugin-tooltip {
		color: #333;
		border: 1px solid #7EABCD;
		padding: 5px;
		border-radius: 5px;
		width: 240px;
		background-color: #fff;
		white-space: pre-wrap;
	}

	/* Chart SVG Styles */

	.micronesia-plugin .chartContainer {
		background: #f3f4f3;
		text-align: center;
	}

	.micronesia-plugin path {
		stroke: #333;
		stroke-width: 2px;
		fill: none;
	}

	.micronesia-plugin .tick line {
		stroke: #333;
	}

	
	.micronesia-plugin .yaxis-label {
		font-size: 14px;
	}
	.micronesia-plugin .xaxis-label {
		font-size: 12px;
		direction: ltr;
	}
	.micronesia-plugin .xaxis path,
	.micronesia-plugin .yaxis path {
		fill: none;
		stroke: #ccc;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	.micronesia-plugin .region-container{
		height: 45px;
	    background-color: #fff;
	    padding-left: 7px;
	    width: 134px;
		text-align: left;
	}


</style>

	<div class="micronesia-plugin">
	    <div class="title">Coral Reef Fisheries</div>
	    <div class="main-message">
	    	This app demonstrates the impact of human populations on fish stocks and supports fisheries management
by helping to identify areas that are most likely to benefit from improved management.
	    </div>
	    <div class="controls-container clearfix">

	    	<div class="region-select-container">
		    		<div class="region-container">
		    		<span class="control-title">Region:</span>
		    		<div class="styled-select">
			    		<select class="region-select">
			    			<optgroup label="Select Region">
			    			<% _.each(regions, function(val, key) { %>
			    				<option value="<%= key %>" <% if (key === "Global") { %> selected <% } %> data-text="<%= key %>" ><%= key %></option>
			    			<% }); %>
			    			</optgroup>
			    		</select>
			    	</div>
			    </div>
	    	</div>
			<a class="download-full report" href="http://ow-maps.coastalresilience.org/Reports/TNC%20final%20technical%20report%20v1.1.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Download Full Technical Report </a>
	    	<a class="download-summary report js-getSnapshot" href="" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Download Policy Brief</a>

	    </div>
	    <div class="stats-description">
	    These summary statistics represent the MEAN values for each parameter summarized by the selected region. Click the statistics below to change the map and graph.</div>
	    <div class="stats-container">

	    	<div class="stat active" data-layer-idx="3" data-layer="Fishing_Pressure_M1">
	    		<span class="number"><span class="variable"><%= global.Fishing_Pressure_M1.mean %></span> <span class="units"><%= units[global.Fishing_Pressure_M1.unit] %></span></span>
	    		<span class="description">Est. Cumulative Fishing Pressure
	    			<i title="Estimated current fishing pressure on coral reef fisheries using the impact on size of parrotfish scaled from 0 (No fishing) to 1 (Highest fishing in region)" class="fa fa-info-circle info-tooltip"></i></span>
	    	</div>

	    	<div class="stat" data-layer-idx="4" data-layer="Standing_Stock_M2">
	    		<span class="number"><span class="variable"><%= global.Standing_Stock_M2.mean %></span> <span class="units"><%= units[global.Standing_Stock_M2.unit] %></span></span>
	    		<span class="description"> Current Standing Stock
	    			<i title="Predicted current biomass 19 key coral reef fishery species including, Orange-spine surgeonfish, Blue-spine unicornfish, Bluefin trevally, Chub or drummer, Humphead wrasse, Orange-striped emperor, Longface emperor, Two-spot red snapper, Humpback red snapper, Bicolour parrotfish, Steephead parrotfish, Bullethead parrotfish, Pacific longnose parrotfish, Redlip parrotfish, Brown-marbled grouper, Camouflage grouper, Black-saddled coral grouper, Forktail rabbitfish, and Gold-spotted rabbitfish." class="fa fa-info-circle info-tooltip"></i></span>
	    		
	    	</div>

	    	<div class="stat" data-layer-idx="5" data-layer="Percent_Gain_M4">
	    		<span class="number"><span class="variable"><%= global.Percent_Gain_M4.mean %></span> <span class="units"><%= units[global.Percent_Gain_M4.unit] %></span></span>
	    		<span class="description">Predicted Gain Standing Stock
	    			<i title="The expected percent increase in fish stocks if fishing were reduced to 0 in each 1 HA cell. This could be through a marine reserve or some other fisheries management measure." class="fa fa-info-circle info-tooltip"></i></span>

	    	</div>

	    	<div class="stat" data-layer-idx="7" data-layer="Recovery_Years_M12">
	    		<span class="number"><span class="variable"><%= global.Recovery_Years_M12.mean %></span> <span class="units"><%= units[global.Recovery_Years_M12.unit] %></span></span>
	    		<span class="description">Predicted Recovery Time
	    			<i title="Estimated time it would take for a cell to recover up to 90% of the predicted fish stock capacity of that cell if fishing stopped." class="fa fa-info-circle info-tooltip"></i></span>

	    	</div>

	    </div>

	    <div class="chart-description">
	    The colored boxes represent where 50% of the data fall. Hover over the chart for more info.</div>
	    <div class="chartContainer">

	    </div>

	</div>

</script>